In [46]:
import re
import numpy as np
import pandas as p

In [67]:
def print_answer_to_file(question_number, *answers):
    with open(str(question_number) + ".txt", "w") as text_file:
        print(" ".join(str(x) for x in answers), file=text_file, end="")

In [6]:
data_path = "data/titanic.csv"

In [7]:
data = p.read_csv(data_path, index_col="PassengerId")

In [8]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

#### Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [77]:
male = len(data[data.Sex == "male"])
female = len(data[data.Sex == "female"])
print("males =",male, "females =", female)
print_answer_to_file(1, male, female)

males = 577 females = 314

#### Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [91]:
survived = len(data[data.Survived == 1]) / len(data) * 100
print("survived =", survived)
print_answer_to_file(2, survived)

survived = 38.38383838383838

#### Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [88]:
first_class = len(data[data.Pclass == 1]) / len(data) * 100
print("first class =", first_class)
print_answer_to_file(3, first_class)

first class = 24.242424242424242

#### Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [89]:
mean_age = np.mean(data.Age.dropna())
median_age = np.median(data.Age.dropna())
print("mean =", mean_age, "median =", median_age)
print_answer_to_file(4, mean_age, int(median_age, 2))

mean = 29.69911764705882 median = 28.0

#### Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [81]:
cor_coef = np.corrcoef(data.SibSp.dropna(), data.Parch.dropna())
print("correlation coefficient =\n", cor_coef)
print_answer_to_file(5, cor_coef[0][1])

correlation coefficient =
 [[ 1.         0.4148377]
 [ 0.4148377  1.       ]]

#### Какое самое популярное женское имя на корабле?

In [90]:
full_names = data[data.Sex == "female"].Name
first_names = []
p = re.compile(r".*\(([A-Za-z]*)|.*M.*\. ([a-zA-Z]*)(?!.*\()")
for name in full_names:
    groups = p.match(name).groups()
    first_names.append(groups[0] if groups[0] else groups[1])
most_common_name = max(first_names, key=first_names.count)
print("most common name =", most_common_name)
print_answer_to_file(6, most_common_name)

most common name = Anna