In [1]:
import pandas as p
import numpy as np

from sklearn.tree import DecisionTreeClassifier

In [2]:
data_path = "data/titanic.csv"

#### Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [14]:
data = p.read_csv(data_path, index_col="PassengerId")

In [13]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0500,NaN,S

#### Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [172]:
X = data.loc[:,["Pclass", "Fare", "Age", "Sex"]]

#### Обратите внимание, что признак Sex имеет строковые значения.

In [173]:
d = {"male" : True, "female" : False}
X.Sex = X.Sex.map(d)

In [174]:
X.head()

,Pclass,Fare,Age,Sex
PassengerId,,,,
1,3,7.2500,22,True
2,1,71.2833,38,False
3,3,7.9250,26,False
4,1,53.1000,35,False
5,3,8.0500,35,True

#### Выделите целевую переменную — она записана в столбце Survived.

In [175]:
y = data.loc[:,"Survived"]

#### Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [176]:
nan_vect = X.isnull().any(axis=1)
y = y[-nan_vect]
X = X[-nan_vect]

#### Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию.

In [177]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

#### Вычислите важности признаков и найдите два признака с наибольшей важностью.

In [190]:
imp = clf.feature_importances_
print(imp)

[ 0.14000522  0.30343647  0.2560461   0.30051221]

In [191]:
imp_dict = {v:i for i,v in enumerate(imp)}
imp_sorted = sorted(imp)[::-1]
first, second = imp_dict[imp_sorted[0]], imp_dict[imp_sorted[1]]
print(X.columns[first], X.columns[second])
with open("answer.txt", "w") as text_file:
    print(" ".join([X.columns[first], X.columns[second]]), file=text_file, end="")

Fare Sex